<div class="container-fluid d-flex justify-content-center">

  <form class="card col-6 pt-3">


    <div class="row mb-4">
      <div class="col-3">
        <div class="card">
          <img src="http://placekitten.com/200/300" class="card-img-top" style="height: 9em;" alt="http://placekitten.com/200/300">
        </div>
      </div>

      <div class="col-9">
        <div class="row">

          <div class="col-7">
            <div class="input-group mb-3">
              <div class="input-group-prepend input-group-label-name row">
                <span class="input-group-text " id="basic-addon1">Imie:</span>
              </div>
              <input [(ngModel)]="player.name" [ngModelOptions]="{standalone: true}"
                     type="text" class="form-control text-align-center input-group-label-value" placeholder="Wpisz imie" aria-label="Username"
                     aria-describedby="basic-addon1">
            </div>
          </div>


          <div class="col-5">
            <div class="input-group mb-3">
              <div class="input-group-prepend input-group-label-name row">
                <span class="input-group-text " id="basic-addon1">Wiek:</span>
              </div>
              <input [(ngModel)]="player.age.year" [ngModelOptions]="{standalone: true}"
                     type="number" class="form-control text-align-right input-group-label-value" placeholder="Wpisz wiek" aria-label="Username"
                     aria-describedby="basic-addon1"
                     [disabled]="isEditionDisabled()">
            </div>
          </div>

        </div>




        
        <div class="row">

          <div class="col-7">
            <div class="input-group mb-3">
              <div class="input-group-prepend input-group-label-name row">
                <label class="input-group-text" for="inputGroupSelect01">Zawod:</label>
              </div>
              <select class="custom-select text-align-center input-group-label-value" id="inputGroupSelect01"
                      (change)="selectJob($event)"
                      [disabled]="isEditionDisabled()">
                <option *ngFor="let item of jobList" [selected]="item.id===player.job?.id" [value]="item.id" cla>{{item.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-5 pl-0">
            <div class="input-group  ">
              <span class="input-group-text col input-group-label-name" id="basic-addon3">Zarobki:</span>
              <span class="input-group-text col justify-content-end input-group-label-value" id="basic-addon3">{{player.goal?.price | plnPipe}}</span>
            </div>
          </div>

        </div>

      </div>

    </div>



    <div class="mb-4">

      <div class="row ml-0">

        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend row goal-label ">
              <label class="input-group-text" for="inputGroupSelect01">Cel:</label>
            </div>
            <select class="custom-select text-align-center " id="inputGroupSelect01" (change)="selectGoal($event)">
              <option *ngFor="let item of goalList" [selected]="item.id===player.goal?.id" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
        </div>

        <div class="col-5 pl-0">
          <div class="input-group  ">
            <span class="input-group-text col " id="basic-addon3">Wartosc:</span>
            <span class="input-group-text col justify-content-end" id="basic-addon3">{{player.goal?.price | plnPipe}}</span>
          </div>
        </div>

      </div>

      <div class="row ">

        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend" style="width: 8%;">
              <span class="input-group-text col flex-column">Opis:</span>
            </div>
            <textarea [value]="player.goal?.description"
                      class="form-control col disabled readonly" aria-label="With textarea" disabled readonly>
          </textarea>
          </div>
        </div>

      </div>

    </div>



    <div class="mb-4">

      <div class="row ml-0">
        <label for="exampleFormControlTextarea1">Wlasny Cel:</label>

        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend row goal-label ">
              <label class="input-group-text" for="inputGroupSelect01">Cel:</label>
            </div>
            <input [(ngModel)]="player.goal!.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control text-align-center "
                   placeholder="Wpisz nazwe celu" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>

        <div class="col-5 pl-0">
          <div class="input-group  ">
            <span class="input-group-text col " id="basic-addon3">Wartosc:</span>
            <input [(ngModel)]="player.goal!.price" [ngModelOptions]="{standalone: true}" type="number"
                   class="form-control text-align-right" placeholder="Wpisz wartosc" aria-label="Username" aria-describedby="basic-addon1">
          </div>
        </div>

      </div>

      <div class="row ">

        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend" style="width: 8%;">
              <span class="input-group-text col flex-column">Opis:</span>
            </div>
            <textarea [(ngModel)]="player.goal!.description" [ngModelOptions]="{standalone: true}" class="form-control col"
                      aria-label="With textarea"></textarea>
          </div>
        </div>

      </div>

    </div>

    <div class="mb-3 d-flex justify-content-end">
      <button type="button" name="" id="" class="col-6 btn btn-success btn-md btn-block" (click)="onSavePlayerInfo()">
        <span *ngIf="isEditionDisabled()">Aktualizuj</span>
        <span *ngIf="!isEditionDisabled()">Zapisz i zacznij nowa gre</span>
      </button>
    </div>

  </form>
</div>
