.input-group {

  .input-group-label-name {
    // width: 6em;
    max-width: 35%;
    min-width: 35%;
  }

  .input-group-label-value {
    // width: 60%;
    max-width: 65%;
    max-width: 65%;
  }
}

.goal-label {
  width: 15%;
}

.text-align-center {
  text-align: center;
}

img {
  border-radius: 8px;
}
