<!-- <div class="csard container-fluid p-0 pxb-3">
  <div class="card-body py-3">

    <div class="row">

      <div class="col-2 m-0 p-0 pl-3 pr-3">
      </div>

      <div class="col-8 m-0 p-0 pr-3">
        <div>AAAAAAAAAAAAAAAAA</div>
        <div>AAAAAAAAAAAAAAAAA</div>
        <div>AAAAAAAAAAAAAAAAA</div>
        <div>AAAAAAAAAAAAAAAAA</div>
        <div>AAAAAAAAAAAAAAAAA</div>
      </div>

      <div class="col-3 m-0 p-0 pr-3">
      </div>

    </div>


  </div>
</div> -->





<div class="row">
  
    <div class="col-2"></div>

  <div class="card col-8  zm-4 p-0">
    <h5 class="card-header p-2">
      <span class="text-align-left"> Pomoc </span>
    </h5>

    <div class="card-body p-0 m-0">
      <div>
          <div>kredyt</div>
          <div>polowa wyplaty na kredyt tylko</div>
      </div>

      <div>
          <div>bigdeal small deal</div>
          <div>mozna odmowic na bigdeal dluzszy kredyt</div>
      </div>

    </div>
  </div>
  
  <div class="col-2"></div>

</div>
