<div class="csard container-fluid p-0 pxb-3">
  <div class="card-body py-3">

    <div class="row">

      <div class="col-3 m-0 p-0 pl-3 pr-3">
        <app-player-card [player]="player"></app-player-card>
      </div>

      <div class="col-3 m-0 p-0 pr-3">
        <app-cash-table
                        [title]="'Razem Wydatki'"
                        [list]="player.expenses"
                        [totalAmount]="totalExpenses"
                        (rowClick)="onIncomeClick($event)"></app-cash-table>
      </div>

      <div class="col-3 m-0 p-0 pr-3">
        <app-cash-table
                        [title]="'Razem Przychody'"
                        [list]="player.incomes"
                        [totalAmount]="totalIncomes"
                        (rowClick)="onIncomeClick($event)"></app-cash-table>
      </div>

      <div class="col-3 m-0 p-0 pr-3">
        <app-cash-table
                        [title]="'Majatek'"
                        [list]="player.assets"
                        [totalAmount]="totalAssets"
                        (rowClick)="onIncomeClick($event)"></app-cash-table>
      </div>

    </div>



    
    
  </div>
</div>

<!-- <app-info-card-modal (payLoan)="onPayLoan($event)"></app-info-card-modal> -->

