<ng-template #infoCardModal let-modal>

  <div class="modal-content">

    <div class="card-headesr modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{eventInfo?.type}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="card-bosdy modal-body">

      <div class="row m-0">
        <div class="col-3 m-0 p-0 pt-2">
          <img src="http://placekitten.com/200/300" class="card-img-top" style="height: 9em;" alt="http://placekitten.com/200/300">
        </div>

        <div class="col m-0 p-0">
          <div class="col">
            <div class="event-value">{{eventInfo.name}}</div>
          </div>
          <div class="col event-description my-2">
            <p class="mx-4">{{eventInfo.description}}</p>
          </div>
          <div *ngIf="eventInfo?.monthlyProfit" class="col d-flex justify-content-end">
            <p class="event-description">Miesieczny {{( eventInfo?.monthlyProfit ?? 0) >=0 ? ' dochod' : 'wydatek'}} :
              {{eventInfo?.monthlyProfit | plnPipe}}</p>
          </div>
          <div class="col d-flex justify-content-end">
            <p class="event-value">Wartosc: {{eventInfo?.value | plnPipe}}</p>
          </div>
        </div>
      </div>

    </div>


    <div class="card-footer modal-footer p-2">
      <button *ngIf="hasEventLoan" type="button" name="" id=""
              class="col btn btn-md btn-blxock"
              [ngClass]="{ 
                'btn-outline-secondary' : !isLoanPayable,
                'btn-outline-success' : isLoanPayable
               } "
              (click)="onPayLoan()" [disabled]="!isLoanPayable">
              {{payLoanButtonLabel}}
      </button>
      <button type="button" name="" id=""
              class="col-4 btn btn-outline-success btn-md btn-blxock"
              (click)="closeModal('OK')">
        OK
      </button>
    </div>

  </div>

</ng-template>
